
<div class="container" *ngIf="!loading">

    <form [formGroup]="Produits">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Réferance Produit</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Réferance Produit"  formControlName="refProd"/>

    </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name Produit</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Name Produit" formControlName="nameProd"/>

        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Quantite</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Quantite" formControlName="quantite"/>
    </div>
    </div>

    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Prix" formControlName="prixProd"/>
        </div>
    </div>
    <div class="row mb-3">
        <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">catégorie  exemple</label>
        <div class="col-sm-10">
        <select class="form-control"   (change)="selectCategorie($event)" id="exampleFormControlSelect1" >
            <option value="aucun" selected>Select Votre catégorie</option>
            <option value={{i}} *ngFor="let Cat  of serviceCategorie.categorie , index as i" >
                {{Cat.nameCateg}}
            </option>
        </select>

        </div>
    </div>
    <!-- <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="form3Example4cdg">Couleur de Votre Produit:</label>
        <input type="color" id="form3Example4cdg" class="col-sm-10"  formControlName="Couleur"/>

    </div> -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="form3Example4cdg">Upload photo de Votre Produit:</label>
        <textarea  id="form3Example4cdg" class="col-sm-10" rows="4" cols="50" placeholder="Votre description de Produit" formControlName="descProd"></textarea>

        <!-- <img [src]="Image.imageName" alt=""> -->
    </div>
<!--
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">l'extension :</label>
        <div class="col-sm-10">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"  >
            <label class="form-check-label" for="flexRadioDefault1">
            Oui
            </label>
        </div>
        <div class="col-sm-10">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked >
            <label class="form-check-label" for="flexRadioDefault2">
            Non
            </label>
        </div>


    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="form3Example4cdg">Upload photo de Votre Produit:</label>
        <input type="file" id="form3Example4cdg" class="col-sm-10" (change)="SelectImage($event) " />
        <div *ngFor="let im of imageSereice.img ">
            <img    [src]="im" alt="" style="width: 100px;height: 100px;">
        </div>
    </div> -->

    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary"  (click)="Add()">Ajouter</button>
</form>
<div class="row mb-3">
<h3>Ajouter des mots Clé</h3>
<!-- <mat-form-field class="example-full-width">
  <mat-label class="col-sm-2 col-form-label">Keyword</mat-label>
  <input matInput class="col-sm-10" >

</mat-form-field> -->


</div>
<div class="keyword">
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Keyword</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  placeholder="Keyword" [(ngModel)]="keyword"/>
  </div>
  <br>
  <br>

  <button class="btn btn-primary" type="submit" (click)="add()">Ajouter Keywords</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>

      <th scope="col">KeyWord</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let iteam of keywords;index as i ">
      <td >{{iteam}}</td>

      <td><button class="btn btn-danger col-sm-10" type="submit" (click)="SupprimerKeyword(i)">Supprimer</button></td>

    </tr>

  </tbody>
</table>


</div>
<div class="spinner-border" role="status" *ngIf="loading" style="margin-top: 50px !important;">
    <span class="sr-only">Loading...</span>
</div>
